---
import Layout from '../layouts/Layout.astro';

import Error from '../components/Error.astro';
import Help from '../components/Help.astro';
import Perfil from '../components/Perfil.astro';
import SobreMi from '../components/SobreMi.astro';
import BaboonGames from '../components/BaboonGames.astro';
import TuNuevaWeb from '../components/TuNuevaWeb.astro';
import Librerias from '../components/Librerias.astro';
---

<Layout title="Mini Portfolio">

  <div class="py-4">
    <div id="error" class="hidden">
      <Error />
    </div>
    <div id="help" class="hidden">
      <Help />
    </div>
    <div id="perfil" class=""> <!--  Quitar hidden -->
      <Perfil />
    </div>
    <div id="sobremi" class="hidden">
      <SobreMi />
    </div>
    <div id="baboongames" class="hidden">
      <BaboonGames />
    </div>
    <div id="tunuevaweb" class="hidden"> <!--  Poner hidden -->
      <TuNuevaWeb />
    </div>
    <div id="tunuevaweb" class="hidden"> <!--  Poner hidden -->
      <TuNuevaWeb />
    </div>
    <div id="librerias" class="hidden"> <!--  Poner hidden -->
      <Librerias />
    </div>
  </div>
  
  <div class="flex items-center mt-2">
    <span class="text-text-destacado mr-2">C:\></span>
    <input
      id="input-consola"
      type="text"
      class="w-full bg-transparent outline-none text-text-primary font-mono"
      placeholder=""
      autofocus
      autocomplete="off"
    />
  </div>
</Layout>

<script type="module" src="/scripts/consola.js"></script>

<style>
  #input-consola {
    caret-color: theme('colors.text.destacado');
  }
</style>
