---
export interface Props {}
---

<p class="text-text-destacado text-lg font-bold">ERROR!</p>
<p class="text-text-secondary mt-2 pl-4">
  Comando no reconocido. Si necesitas ayuda, utiliza el comando 
  <span class="text-text-destacado2 font-bold" id="help_txt"></span>.
</p>

<script type="module" src="/scripts/error.js"></script>
