---
import Help from '../components/subcomponents/HelpComando.astro';
---

<div class="pl-8">
  <p class="text-text-destacado text-lg font-bold">ERROR!</p>
  <p class="text-text-secondary mt-2 pl-4">
    Comando no reconocido. Si necesitas ayuda, utiliza el comando <Help />. 
  </p>

</div>