---
export interface Props {}
---

<div class="pl-8">
    <p class=""><span class="text-text-destacado2 font-bold" id="help_txt2">Tab</span> para autocompletar los comandos. </p>
    <br>
    <p class="text-text-primary">Lista de comandos disponibles:</p>
    <div id="help-list"></div>
</div>

<script type="module" src="/scripts/help.js"></script>