---
export interface Props {}
---

<p class="text-text-primary">Lista de comandos disponibles:</p>

<p class="pl-4"><span class="text-text-destacado2 font-bold" id="help_txt2">Tab</span> para autocompletar los comandos. </p>
<div id="help"></div>

<script type="module" src="/scripts/help.js"></script>