---
import Help from '../components/subcomponents/HelpComando.astro';
---

<div class="">
    <p><span class="text-text-destacado2 font-bold">CLI Portfolio</span> [Command Line Interface Portfolio Versión 1.0.0]</p>
    <p>(c) <span class="text-text-destacado2 font-bold">Arkaitz Leon</span>. Ningún derecho reservado.</p>
    <br>
    <p>Utiliza el comando <Help /> para obtener una lista completa de todos los comandos disponibles.</p>
</div>
