---
import LibraryCard from '../components/subcomponents/Libreria.astro';
---

<div class="pl-8 sm:pl-4 md:pl-8">
  <!-- Título de la sección -->
  <p class="text-text-destacado text-2xl font-semibold">Librerías</p>

  <!-- Descripción breve -->
  <div class="mt-6 text-md font-light text-texto-secondary">
    <p>
      A lo largo de mi trayectoria, he desarrollado librerías tanto para Unity como para aplicaciones web con el propósito de aportar herramientas útiles y facilitar el trabajo de otros desarrolladores. Estas librerías buscan resolver problemas comunes y mejorar la productividad. A continuación, te presento algunas de ellas:
    </p>
  </div>

  <!-- Subtítulo para la sección de librerías -->
  <p class="text-sm sm:text-base md:text-md font-semibold text-text-destacado2 mt-8 pl-4">Mis Librerías</p>

  <!-- Proyectos -->
  <div class="mt-2 grid grid-cols-1 sm:grid-cols-2 gap-6">
    <LibraryCard
      titulo="BaboonLite [1]"
      resumen="Esta librería está diseñada para facilitar la creación de pequeños juegos 2D y 3D, ofreciendo componentes y funciones simples que hacen que el proceso de desarrollo sea más fácil y agradable."
      plataforma="Unity"
      github="https://github.com/ArkaitzL/BaboonLite-1"
      docLink="https://www.notion.so/BaboOnLite-c6252ac92bbc4f8ea231b1276008c13a?pvs=4"
    />
  </div>
</div>
