---
export interface Props {}
---

<div class="pl-8 sm:pl-4 md:pl-8">
  <!-- T칤tulo de la secci칩n -->
  <p class="text-text-destacado text-2xl font-semibold">TuNuevaWeb</p>

  <!-- Descripci칩n breve -->
  <div class="mt-6 text-text-secondary text-md font-light">
    <p>
      En <span class="font-semibold text-text-destacado">TuNuevaWeb</span>, nos especializamos en crear p치ginas web personalizadas y funcionales para empresas y emprendedores. Ayudamos a construir tu presencia en l칤nea con dise침os modernos y tecnolog칤a de vanguardia.
    </p>
    <p class="mt-4">
      Descubre m치s sobre nuestros servicios en nuestra p치gina principal: 
      <a href="https://tunuevaweb.es" class="text-text-enlace font-medium hover:underline">
        [游깷 TuNuevaWeb.es]
      </a>
    </p>
  </div>

  <!-- Subt칤tulo para la secci칩n de proyectos -->
  <p class="text-sm sm:text-base md:text-md font-semibold text-text-destacado2 mt-8 pl-4">Algunos de nuestros proyectos</p>

  <!-- Descripci칩n breve de proyectos -->
  <div class="mt-2 text-text-secondary text-md font-light pl-4">
    <p>
      Algunos proyectos creados por nosotros como ejemplo de nuestro trabajo:
    </p>
  </div>

  <!-- Lista de proyectos -->
  <div class="mt-4 flex flex-wrap gap-4 pl-5">
    <a href="https://bite-and-smash.tunuevaweb.es/" target="_blank" class="text-text-enlace flex items-center">
      [游볧 Bite and Smash]
    </a>
    <a href="https://pulse-studio.tunuevaweb.es/" target="_blank" class="text-text-enlace flex items-center">
      [游닇 Pulse Studio]
    </a>
  </div>
  
</div>
