---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-[url('/Fondo.jpg')] bg-cover bg-center text-text-primary min-h-screen flex flex-col items-center justify-center font-mono">
    <div
      id="console-container"
      class="h-[600px] w-11/12 lg:w-4/5 p-6 bg-background-interior border border-borde rounded-md shadow-md relative bg-background-interiror"
    >
      <!-- Barra de control con botones de ventana -->
      <div class="window-controls absolute top-0 right-0 flex space-x-2 p-2 bg-background-exterior rounded-t-md w-full">
        <!-- Botón de minimizar -->
        <button class="minimize-btn bg-yellow-500 rounded-full w-4 h-4 hover:bg-yellow-400"></button>
        <!-- Botón de maximizar -->
        <button class="maximize-btn bg-green-500 rounded-full w-4 h-4 hover:bg-green-400"></button>
        <!-- Botón de cerrar (X) -->
        <button class="close-btn bg-red-500 rounded-full w-4 h-4 hover:bg-red-400"></button>
      </div>

      <!-- Fondo interior de la consola -->
      <div class="h-full w-full rounded-md p-4">
        <slot />
      </div>

    </div>
  </body>
</html>




<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  }
</style>
